/*Main Container Styling*/
.main {
    border-left: 2px solid rgb(173, 173, 173);
    border-right: 2px solid rgb(173, 173, 173);
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.table{
    width: 100%;
}