@import "folders.css";

* {
}
body {
    color: black;
    display: grid;
    grid-template:
    "header header header"
    "sidebar main modal";
    height: auto;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    max-height: 20vh;
    padding-left: 10vw;
    padding-right: 20vw;
    
    background-color: gray;
}
.header > * {
    margin: 10px;
}
.main {
    grid-area: main;
    height: 100%;
    width: 100%;
}
.sidebar {
    grid-area: sidebar;
    height: 100%;
}
.modal {
    grid-area: modal;
}
.folders-item{
    display: flex;
    width: 100%;
    align-items: center;
}
.folders{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
