/*Main Container Styling*/
.main {
  width: 100%;
}
.main h1 {
  margin-bottom: 0.5rem;
}
.buttonNew {
  background-color: transparent;
  color: rgba(251, 127, 36, 0.9);
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}
.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  background-color: rgba(20, 20, 20, 0.7);
  border-radius: 10px;
  margin-top: 0.5rem;
}

.table tr:hover {
  background-color: rgba(251, 127, 36, 0.8);
}
.table tr:first-child:hover {
  background-color: transparent;
}
.icon-img {
  max-width: 40px;
  max-height: 40px;
}
.table td[data-url] {
  cursor: pointer;
}

.table th {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem 0;
}
.edit {
  cursor: pointer;
}
